# Node.js依存関係
node_modules/

# ビルド出力ディレクトリ
dist/
build/
output/*
!output/.gitkeep
references/*
!references/.gitkeep
images/*
!images/.gitkeep

# ログファイル
*.log

# 一時ファイルとキャッシュ
.tmp/
.cache/

# IDEとエディタの設定ファイル
.vscode/
.idea/
*.sublime-workspace

# 環境変数ファイル
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOSシステムファイル
.DS_Store

# その他のプロジェクト固有のファイルやディレクトリ
__pycache__
*.pyc
*copy.txt
*copy*.pdf
*copy*
syllabus_graph.png
syllabus_graph.png.pdf
book/01/*
book/02/*
book/03/*
book/04/*
book/05/*
book/example/料理職人になろう/week1/*
book/example/料理職人になろう/week2/*
book/example/料理職人になろう/week3/*
book/example/料理職人になろう/week4/*
book/example/料理職人になろう/week5/*
book/example/武士になる方法/*
syllabus_en.yaml
syllabus_graph_en.png
create_folder_structure.ipynb
